.cabecalho {
    display: flex;
    height: 8rem;
}

.imagem--forma1 {
    position: absolute;
}

.navegacao--conteiner {
    display: flex;
    margin: 0 auto;

}

.navegacao {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.navegacao__imagem--logo img{
    width: 6em;
    vertical-align: baseline;
}

.navegacao__lista {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.item__imagem--casa img {
    width: 0.9rem;
}

.item__imagem--mensagem img {
    width: 1.1rem;
}

.imagem--ellipse, .imagem--usuario {
    height: 40px;
    position: relative;
    right: 2.9rem;
    top: 2.5rem;
    width: 40px;
}

.imagem--usuario {
    background: url(../../../imagens/Usuário.png) center / cover no-repeat;
}

.imagem--ellipse {
    background: url(../../../imagens/Ellipse\ pequena.png) center / cover no-repeat;
}
