@media screen and (min-width: 0) {
    .conteiner {
        margin-top: 2.5rem;
    }

    .conteiner > div {
        width: 20.5rem;
    }

    .secao1__texto {
        width: 15rem;
    }
}

@media screen and (min-width: 568px) {
    .conteiner > div {
        width: 25rem;
    }

    .secao1__texto {
        width: 100%;
    }

    .conteiner {
        margin-top: 4.5rem;
    }
}

@media screen and (min-width: 768px) {
    .forma2 {
        background: url(../../imagens/Forma\ 2.png) center / cover no-repeat;
        top: 18%;
        right: 0;
        left:auto;
        width: 7rem;
        height: 42rem;
    }

    .conteiner {
        margin-bottom: 6rem;
        margin-top: 5.5rem;
    }

    .conteiner > div {
        width: 35rem;
    }
}

@media screen and (min-width: 1300px) {
    .conteiner {
        margin-top: 3rem;
    }

    .forma2 {
        top: 16%;
    }
}
