.conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

.campo_de_busca {
    color: #3772ff;
    margin: 0.9rem 0;
    text-align: end;
}

.filtrar {
    position: relative;
}

.secao1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secao1__texto {
    text-align: center;
    color: #3772ff;
}

#fotoQuadrada {
    height: 170px;
    width: 170px;
}
