.forma2 {
    position: absolute;
}

.conteiner > div {
    margin: 0 auto;
}

.secao1 {
    display: flex;
    justify-content: center;
    text-align: center;
}
.secao1__texto {
    color: #3772FF;
    margin-bottom: 1.5rem;
}
