.conteiner {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.secao1, .secao2__texto, .secao3 {
    text-align: center;
}

.secao2__texto {
    font-weight: 400;
    color: #3772FF;
}

.forma2, .imagem--patas {
    position: absolute;
}

.imagem--patas {
    right: 0;
    top: 0%;
}
