@media screen and (min-width: 0) {
    .imagem--forma1 img {
        width: 22rem;
    }

    .navegacao--conteiner {
        width: 70%;
    }

    .navegacao__imagem--logo {
        display: none;
    }

    .imagem--usuario, .imagem--ellipse {
        right: 2.9rem;
        top: 2.5rem;
    }
}

@media screen and (min-width: 568px) {
    .imagem--forma1 img {
        width: 25rem;
        height: 21rem;
    }
}

@media screen and (min-width: 768px) {
    .imagem--forma1 img {
        width: 33rem;
        height: 25rem;
    }

    .navegacao--conteiner {
        width: 85%;
    }

    .navegacao {
        width: 14.5rem;
    }

    .navegacao__imagem--logo {
        display: block;
    }

    .navegacao__imagem--logo img {
        width: 6rem;
    }
}

@media screen and (min-width: 968px){
    .imagem--usuario, .imagem--ellipse {
        right: 6rem;
    }
}

@media screen and (min-width: 1133px){
    .imagem--usuario, .imagem--ellipse {
        right: 8rem;
    }
}