@import url("../generic/base/reset.css");
@import url("../generic/base/body.css");
@import url("../generic/base/header.css");
@import url("../responsive_generic/responsive_base/header.css");
@import url("../generic/base/footer.css");
@import url("../generic/base/container.css");
@import url("../generic/components/button/style_2.css");
@import url("../generic/components/form/style_2.css");
@import url("../generic/components/field/style_1.css");
@import url("../generic/components/janela/janela.css");
@import url("../generic/components/errors/style.css");
@import url("../responsive_generic/responsive_components/janela_rsponsiva/janela_responsiva.css");
@import url("../page/style_profile_message.css");
@import url("../responsive_page/style_profile_message.css");
@import url("../generic/components/photo/style.css");

.formulario__texto {
    color: #737380;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0 auto;
}

.grupo_foto {
    margin: 0 auto;
    text-align: center;
}

#file {
    display: none;
}
