@import url("../generic/base/reset.css");
@import url("../generic/base/body.css");
@import url("../generic/base/header.css");
@import url("../responsive_generic/responsive_base/header.css");
@import url("../generic/base/footer.css");
@import url("../generic/base/container.css");
@import url("../generic/components/button/style_2.css");
@import url("../generic/components/button/style_green.css");
@import url("../generic/components/form/style_2.css");
@import url("../generic/components/field/style_2.css");
@import url("../generic/components/field/style_4.css");
@import url("../page/style_profile_message.css");
@import url("../page/style_edit_profile.css");
@import url("../responsive_page/style_animal.css");
@import url("../generic/components/photo/style.css");
@import url("../generic/components/dialog/style_menu.css");
@import url("../responsive_page/style_profile_message.css");

.anunciante,
.anunciante__foto {
    display: flex;
    align-items: center;
}

.anunciante {
    margin: 0 auto;
    column-gap: 0.6rem;
}

.anunciante__foto {
    border: 3px solid #36dad3;
    border-radius: 0.5rem;
    column-gap: 0.4rem;
    padding: 0.4rem;
    text-decoration: none;
    color: #505050;
}

.foto_perfil_anunciante {
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 10em;
}

.foto--quadrada {
    cursor: inherit;
}
