@import url("../generic/base/reset.css");
@import url("../generic/base/body.css");
@import url("../generic/base/header.css");
@import url("../responsive_generic/responsive_base/header.css");
@import url("../generic/base/footer.css");
@import url("../responsive_generic/responsive_base/footer.css");
@import url("../generic/base/container.css");
@import url("../generic/components/dialog/style_menu.css");
@import url("../generic/components/button/style_2.css");
@import url("../generic/components/form/style_1.css");
@import url("../generic/components/field/style_3.css");
@import url("../generic/components/errors/style.css");
@import url("../responsive_page/style_index.css");

body {
    line-height: 1.5rem;
    color: #505050;
    font-size:large;
}

html, body {
    height: 100%;
    width: 100%;
}

.conteiner {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 8rem;
    gap: 1.4rem;
}

.secao3 {
    text-align: center;
    gap: 7em;
}

.forma2 {
    position: absolute;
}

.bloco {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.bloco__titulo {
    font-size:xx-large;
}

.bloco__paragrafo__principal{
    padding: 0 1.5rem;
}

.bloco__subtitulo {
    font-size: x-large;
}

.card {
    max-width: 15.4rem;
}

.bloco__card {
    width: 100%;
    max-width: 66rem;
}

.bloco__texto {
    display: flex;
    row-gap: 2rem;
    justify-content:space-around;
}

.bloco__texto div {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    text-align: start;
    max-width: 35rem;
}

.bloco__grupo--texto-imagem li .bloco__paragrafo {
    display: flex;
    gap: 2rem;
    max-width: 35rem;
    text-align: start;
}

.card__imagem {
    width: min-content;
}

.card__titulo {
    font-weight: bold;
}
