.cabecalho {
    display: flex;
    height: 8rem;
}

.imagem--forma1 {
    position: absolute;
}

.navegacao--conteiner {
    display: flex;
    margin: 0 auto;
}

.navegacao {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 3rem;
    width: 100%;
}

.navegacao__imagem--logo img {
    width: 6em;
    vertical-align: baseline;
}

.navegacao__lista {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.item--nav {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    padding: .5rem;
    background-color: #36D6AD;
    border-radius: .4rem;
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.2);
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
}

.item--nav a {
    color: #FFFFFF;
    text-decoration: none;
}

.aba {
    position: absolute;
    display: none;
}

.item_hover--nav:hover .aba {
    display: inline-block;
}

.menu_hamburguer {
    color: #ffffff;
    font-size: xx-large !important;
    cursor: pointer;
}


