.cabecalho {
    display: flex;
    height: 8rem;
}

.imagem--forma1 {
    position: absolute;
}

.navegacao--conteiner {
    display: flex;
    margin: 0 auto;
}

.menu_logo--navegacao {
    display: flex;
    column-gap: 3rem;
}

.navegacao {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 3rem;
    width: 100%;
    justify-content: space-between;
}

.navegacao__imagem--logo img {
    width: 6em;
    vertical-align: baseline;
}

.navegacao__lista {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 60rem;
}

.item--nav {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    padding: 0.5rem;
    background-color: #36d6ad;
    border-radius: 0.4rem;
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.2);
    border: 3px solid #ffffff;
    color: #ffffff;
}

.item--nav a {
    color: #ffffff;
}

.aba {
    position: absolute;
    display: none;
    background-color: #f6f6f6;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 3px 3px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
}

.aba__item {
    display: flex;
    align-items: center;
}

.aba__item:hover {
    background-color: #c4c4c4;
}

.ancora {
    text-decoration: none;
    outline: none;
}

.ancora--caixa {
    padding: 0.5rem;
    min-height: 1.6rem;
    min-width: 10rem;
}

.item_hover--nav:hover .aba {
    display: inline-block;
}

.menu_hamburguer {
    display: none;
    color: #ffffff;
    font-size: xx-large !important;
    cursor: pointer;
}

.navegacao__lista--mobile {
    display: none;
}
