.cabecalho {
    display: flex;
    height: 8rem;
}

.imagem--forma1 {
    position: absolute;
}

.navegacao--conteiner {
    display: flex;
    margin: 0 auto;
}

.navegacao {
    display: flex;
    position: relative;
    align-items: center;
    column-gap: 3rem;
}

.navegacao__imagem--logo img {
    width: 6em;
    vertical-align: baseline;
}

.navegacao__lista {
    display: flex;
    align-items: center;
}

.imagem--usuario {
    height: 40px;
    position: relative;
    right: 2.9rem;
    top: 2.5rem;
    width: 40px;
    cursor: pointer;
}

.imagem--usuario {
    border-radius: 10em;
}

.menu_hamburguer {
    color: #ffffff;
    font-size: xx-large !important;
    cursor: pointer;
}
