.catalogo {
    column-gap: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    row-gap: 0.8rem;
}

.card {
    background: #f6f6f6;
    max-width: 368px;
    padding: 0.5rem 0;
    width: 100%;
}

.conteiner--card {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "imagem, conteudo";
}

.imagem_do_pet {
    align-items: center;
    display: flex;
    grid-area: imagem;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-content: center;
}

.conteudo_do_pet {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    grid-area: conteudo;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-content: center;
}

.info_do_pet {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.nome_do_pet {
    color: #3772ff;
    font-weight: 600;
}

.descricao_do_pet,
.info_da_regiao,
.icone_chamada--link {
    color: #737380;
    font-weight: 500;
}

.descricao_do_pet li:not(.descricao_do_pet li:last-child) {
    margin-bottom: 0.3rem;
}

.descricao_do_pet li {
    font-size: 0.9rem;
}

.info_da_regiao {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.estado_do_pet {
    font-size: 0.8rem;
}

.icone_chamada--link {
    align-items: center;
    display: flex;
    font-size: 0.7rem;
    gap: 0.4rem;
    text-decoration: none;
}

.ocultar_card {
    display: none;
}
