.campo {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.campo__label {
    color: #737380;
    font-weight: 600;
}

.campo__input {
    border-radius: 0.2rem;
    border: none;
    background: #f6f6f6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    height: 2rem;
    text-align: center;
    width: 20rem;
    position: relative;
}

.link_redireciona,
.campo__input::placeholder {
    font-size: 0.8rem;
    text-align: center;
    border: none;
    font-weight: 400;
}

.campo__input::placeholder {
    color: #bcbcbc;
}

.link_redireciona {
    text-decoration: none;
    color: #3772ff;
}

.campo__link {
    margin-top: 1em;
}
