.campo {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;
}

.grupo--campo {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.campo__label {
    color: #3772ff;
    font-weight: 600;
}

.grupo--idade {
    display: flex;
    column-gap: 0.6rem;
}

.campo--porte {
    flex-flow: 2;
}

#idade,
#medida {
    width: 7rem;
}

.campo__input,
.campo__textarea {
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0.2rem;
}

.campo__input {
    min-height: 2rem;
}

input[placeholder],
textarea[placeholder] {
    padding-left: 0.8rem;
    font-size: 0.9rem;
}

.grupo--comportamento {
    display: flex;
    column-gap: 0.6rem;
}

.comportamento {
    flex-grow: 1;
}
