@media screen and (min-width: 0px) {
    .secao2__texto {
        width: 20rem;
    }
}

@media screen and (min-width: 768px) {
    .secao2__texto {
        width: 22rem;
    }
}

@media screen and (min-width: 968px) {
    .secao2__texto {
        width: 30rem;
    }
}
