.secao3 {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    align-items: center;
}

.secao3 form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}
