.secao2 {
    background: #F6F6F6;
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    margin-bottom: 1rem;
    padding: 1.8rem 0rem;
    position: relative;
}

.formulario {
    display: flex;
    flex-direction: column;;
    gap: 1.5rem;
    margin: 0 auto;
    width: 92%;
}
